* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(30, 30, 30);
}

.dark,
.dark * {
  background-color: rgb(30, 30, 30);
  color: #fff;
  border-color: #fff !important;
}

.svgWhiteMode {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}

.recipe {
  width: 100%;
  display: flex;
  margin: 80px 0;
}

.right {
  width: 50%;
  padding-left: 40px;
}

.left {
  width: 50%;
}

.recipe img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.recipe-svg {
  width: 50px;
}

.recipe h2 {
  font-size: 2em;
}

.info {
  display: flex;
  margin-top: 20px;
}

.temps {
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  margin: 20px 0;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

form {
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

input {
  height: 25px;
}

textarea {
  height: 60px;
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0 10px 5px;
}

.btn {
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

/* Responsive */

@media screen and (max-width: 700px) {
  .recipe {
    width: 100%;
    display: block;
  }

  .right {
    width: 100%;
    padding-left: 0px;
  }

  .left {
    width: 100%;
  }
}
